<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-push-master" version="1.0.8"
    xmlns="http://apache.org/cordova/ns/plugins/1.0" 
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>PushPlugin</name>
    <js-module name="PushPlugin" src="www/PushPlugin.js">
        <clobbers target="cordova.plugins.PushPlugin" />
    </js-module>
    <engines>
        <engine name="cordova-android" version="&gt;=4.0.0" />
    </engines>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="PushPlugin">
                <param name="android-package" value="com.wistron.ptsApp.PushPlugin" />
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <config-file parent="/manifest" target="AndroidManifest.xml">
            <permission android:name="com.wistron.swpc.pts2.permission.JPUSH_MESSAGE" android:protectionLevel="signature" />
            <uses-permission android:name="com.wistron.swpc.pts2.permission.JPUSH_MESSAGE" />
            <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.WAKE_LOCK" />
            <uses-permission android:name="android.permission.READ_PHONE_STATE" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.WRITE_SETTINGS" />
            <uses-permission android:name="android.permission.VIBRATE" />
            <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
            <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
            <uses-permission android:name="android.permission.WAKE_LOCK" />
            <permission android:name="com.wistron.swpc.pts2.gcmapplication.permission.C2D_MESSAGE" android:protectionLevel="signature" />
            <uses-permission android:name="com.wistron.swpc.pts2.gcmapplication.permission.C2D_MESSAGE" />
            <uses-permission android:name="android.permission.READ_LOGS" />
        </config-file>
        <config-file parent="/manifest/application" target="AndroidManifest.xml">
            <meta-data android:name="com.google.firebase.messaging.default_notification_icon" android:resource="@mipmap/icon" />
            <meta-data android:name="com.google.firebase.messaging.default_notification_color" android:resource="@color/colorAccent" />
            <service android:name="com.wistron.ptsApp.MyFirebaseMessagingService">
                <intent-filter>
                    <action android:name="com.google.firebase.MESSAGING_EVENT" />
                </intent-filter>
            </service>
            <service android:name="com.wistron.ptsApp.MyFirebaseInstanceIdService">
                <intent-filter>
                    <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
                </intent-filter>
            </service>
            <activity android:exported="false" android:name="cn.jpush.android.ui.PopWinActivity" android:theme="@style/MyDialogStyle" />
            <activity android:configChanges="orientation|keyboardHidden" android:exported="false" android:name="cn.jpush.android.ui.PushActivity" android:theme="@android:style/Theme.NoTitleBar">
                <intent-filter>
                    <action android:name="cn.jpush.android.ui.PushActivity" />
                    <category android:name="android.intent.category.DEFAULT" />
                    <category android:name="com.wistron.swpc.pts2" />
                </intent-filter>
            </activity>
            <service android:exported="false" android:name="cn.jpush.android.service.PushService" android:process=":mult">
                <intent-filter>
                    <action android:name="cn.jpush.android.intent.REGISTER" />
                    <action android:name="cn.jpush.android.intent.REPORT" />
                    <action android:name="cn.jpush.android.intent.PushService" />
                    <action android:name="cn.jpush.android.intent.PUSH_TIME" />
                </intent-filter>
            </service>
            <provider android:authorities="com.wistron.swpc.pts2.DataProvider" android:exported="true" android:name="cn.jpush.android.service.DataProvider" />
            <service android:enabled="true" android:exported="true" android:name="cn.jpush.android.service.DaemonService">
                <intent-filter>
                    <action android:name="cn.jpush.android.intent.DaemonService" />
                    <category android:name="com.wistron.swpc.pts2" />
                </intent-filter>
            </service>
            <receiver android:enabled="true" android:exported="false" android:name="cn.jpush.android.service.PushReceiver">
                <intent-filter android:priority="1000">
                    <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />
                    <category android:name="com.wistron.swpc.pts2" />
                </intent-filter>
                <intent-filter>
                    <action android:name="android.intent.action.USER_PRESENT" />
                    <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                </intent-filter>
                <intent-filter>
                    <action android:name="android.intent.action.PACKAGE_ADDED" />
                    <action android:name="android.intent.action.PACKAGE_REMOVED" />
                    <data android:scheme="package" />
                </intent-filter>
            </receiver>
            <receiver android:exported="false" android:name="cn.jpush.android.service.AlarmReceiver" />
            <receiver android:enabled="true" android:exported="false" android:name="com.wistron.ptsApp.jpush.MyReceiver">
                <intent-filter>
                    <action android:name="cn.jpush.android.intent.REGISTRATION" />
                    <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                    <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                    <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                    <action android:name="cn.jpush.android.intent.CONNECTION" />
                    <action android:name="com.wistron.swpc.pts2.action.NOTIFICATION_CLICKED" />
                    <action android:name="com.wistron.swpc.pts2.action.NOTIFICATION_CANCELLED" />
                    <category android:name="com.wistron.swpc.pts2" />
                </intent-filter>
            </receiver>
            <receiver android:name="com.wistron.ptsApp.jpush.MyJPushMessageReceiver">
                <intent-filter>
                    <action android:name="cn.jpush.android.intent.RECEIVE_MESSAGE" />
                    <category android:name="com.wistron.swpc.pts2" />
                </intent-filter>
            </receiver>
            <meta-data android:name="JPUSH_CHANNEL" android:value="developer-default" />
            <meta-data android:name="JPUSH_APPKEY" android:value="6bc2b8a8b8ef3beecbb8536f" />
        </config-file>
        <source-file src="src/android/PushPlugin.java" target-dir="src/com/wistron/ptsApp" />
        <source-file src="src/android/ExampleUtil.java" target-dir="src/com/wistron/ptsApp/jpush" />
        <source-file src="src/android/MyJPushMessageReceiver.java" target-dir="src/com/wistron/ptsApp/jpush" />
        <source-file src="src/android/MyReceiver.java" target-dir="src/com/wistron/ptsApp/jpush" />
        <source-file src="src/android/TagAliasOperatorHelper.java" target-dir="src/com/wistron/ptsApp/jpush" />
        <source-file src="src/android/MyLog.java" target-dir="src/com/wistron/ptsApp" />
        <source-file src="src/android/MyFirebaseInstanceIdService.java" target-dir="src/com/wistron/ptsApp" />
        <source-file src="src/android/MyFirebaseMessagingService.java" target-dir="src/com/wistron/ptsApp" />
        <framework src="com.google.firebase:firebase-core:11.0.4" />
        <framework src="com.google.firebase:firebase-messaging:11.0.4" />
        <framework src="com.google.android.gms:play-services:11.0.4" />
        <framework custom="true" src="src/android/FCMPlugin.gradle" type="gradleReference" />
        <framework src="com.android.support:appcompat-v7:25.2.0" />
        <source-file src="src/android/libs/arm64-v8a/libjcore117.so" target-dir="libs/arm64-v8a" />
        <lib-file src="src/android/libs/jpush-android-3.0.9.jar" />
        <lib-file src="src/android/libs/jcore-android-1.1.7.jar" />
        <source-file src="src/android/libs/armeabi/libjcore117.so" target-dir="libs/armeabi" />
        <source-file src="src/android/libs/armeabi-v7a/libjcore117.so" target-dir="libs/armeabi-v7a" />
        <source-file src="src/android/libs/mips/libjcore117.so" target-dir="libs/mips" />
        <source-file src="src/android/libs/mips64/libjcore117.so" target-dir="libs/mips64" />
        <source-file src="src/android/libs/x86/libjcore117.so" target-dir="libs/x86" />
        <source-file src="src/android/libs/x86_64/libjcore117.so" target-dir="libs/x86_64" />
        <asset src="src/android/asset/google-services.json" target="assets/www/google-services.json" />
        <resource-file src="src/android/res/drawable-hdpi/jpush_ic_richpush_actionbar_back.png" target="res/drawable/jpush_ic_richpush_actionbar_back.png" />
        <resource-file src="src/android/res/drawable-hdpi/jpush_ic_richpush_actionbar_divider.png" target="res/drawable/jpush_ic_richpush_actionbar_divider.png" />
        <resource-file src="src/android/res/drawable-hdpi/jpush_notification_icon.png" target="res/drawable/jpush_notification_icon.png" />
        <resource-file src="src/android/res/drawable-hdpi/richpush_btn_selector.xml" target="res/drawable/richpush_btn_selector.xml" />
        <resource-file src="src/android/res/drawable-hdpi/richpush_progressbar.xml" target="res/drawable/richpush_progressbar.xml" />
        <resource-file src="src/android/res/layout/jpush_webview_layout.xml" target="res/layout/jpush_webview_layout.xml" />
        <resource-file src="src/android/res/values/jpush_style.xml" target="res/values/jpush_style.xml" />
        <resource-file src="src/android/res/values/colors.xml" target="res/values/colors.xml" />
        <hook src="scripts/fcm_config_files_process.js" type="after_plugin_add" />
        <hook src="scripts/fcm_config_files_process.js" type="after_prepare" />
    </platform>

    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="PushPlugin">
                <param name="ios-package" value="PushPlugin" />
            </feature>
        </config-file>
        <source-file src="src/ios/PushPlugin.m" />
        <header-file src="src/ios/AppDelegate+Push.h" />
        <source-file src="src/ios/AppDelegate+Push.m" />
        <framework src="UserNotifications.framework" />
        <framework src="UserNotificationsUI.framework" />
    </platform>
</plugin>
